<div class='employee'>
	<div class='container'>
		<a [routerLink]="['/admin/employee-add']" class='btn btn-success'>Thêm nhân sự</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>STT</th>
					<th>Họ Tên</th>
					<th>Số ĐT</th>
					<th>Phòng Ban</th>
					<th>Chức Vụ</th>
					<th>Năm Sinh</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody *ngIf="countResults > 0">
				<tr *ngFor="let item of listEmployees">
					<td>{{item.Id}}</td>
					<td>{{item.HoTen}}</td>
					<td>{{item.SoDienThoai}}</td>
					<td>{{item.SoDienThoai}}</td>
					<td>{{item.SoDienThoai}}</td>
					<td>{{item.NamSinh || date }}</td>
					<td><span><a [routerLink]="['/admin/employee-edit/' + item.Id]"><i  class="fal fa-user-edit"></i></a> | 
							  <a style="color:red" (click)="deleteEmployee(item.Id)" ><i class="fas fa-trash-alt"></i></a>
						</span>
					</td>
				</tr>     
			</tbody>
		</table>
	</div>
</div>
